
.color1{

    background-color: violet;
    color: violet;
    

}

.cabecera{

    background-color: #4B088A;

}

body{
background-color: #BB8FCE;

}

.menu{
background-color: #FF0040;
}

img{
    max-height: 250px;
}

.colormenu{

   color: white;
    font-weight: bold;
}

.colordiv{

    background-color: #4B088A;


}

.imagencircular{

    border-radius: 50%;

}

.colorranking{

    background-color: violet;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.border-carton{
    border: 1px solid purple ;
}

footer{
    background-color: #FF0040;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.color{

   color:white;
}